/.vs
/.vscode
/a.exe
/a1.py
/a2.ipynb
/AI agentic bot
/basic
/c1.c
/c2.c
/cc21.py
/Classification Of Words.zip
/data
/Deep_Learning
/EEG_MUSIC_PROJECT
/EEG_MUSIC_PROJECT.zip
/fraud_detection_system
/generate_data.py
/hadoop
/html
/My Projects
/output
/Project5
/PROJECT5.pdf
/project5_data.csv
/project_text.txt
/py1.ipynb
/Real-Time_Patient_Monitoring_Mini_Project
/requirements.txt
/word_processor.h
/word_processor_main.c
/word_processor_main.exe